<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Wurk</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel='icon' href="{{ url_for('static', filename='css/img/favicon-32x32.png') }}" type='image/x-icon'/ >
  <style>
h3 {text-align: center;}
</style>
</head>

<body>

  <div class="header">
    <div id="logonshit">
      <div class="nav">
          <ul id = "navbar">
            <li><a href="/">Home</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
            <li><a href="MeetTheTeam">Meet The Team</a></li>

      </ul>
        </div>
          </div>
          <img src = "{{ url_for('static', filename='css/img/WurkBan11.jpg') }}"></img>
      </div>
      <h2>Work less with Wurk</h2>

  <div class="boxMTT">
    <div id="main">
    <h4>Sales Team</h4>
    <div class="informationContact">
    <div class="box2H">
      <h2><img src="{{ url_for('static', filename='css/img/someguy.jpg') }}" height = "100%" width="100%">
        Jack Steen
        <h3>224-279-5048</h3>
        <h3>General Sales Manager</h3></h2>
      </div>
      <div class="box3H">
        <h2><img src="{{ url_for('static', filename='css/img/salegorl.png') }}" height = "100%" width="100%">
          Allie Brann
          <h3></h3>
          <h3>Sales Assistant</h3></h2>
        </div>
        <div class="box4H">
          <h2><img src="{{ url_for('static', filename='css/img/salegorl2.png.jpg') }}" height = "100%" width="100%">
          Paige Stevens
            <h3></h3>
            <h3>Sales Assistant</h3></h2>
          </div>
  </div>
  
</div>
</div>
</div>
</body>
</html>
