<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Wurk</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel='icon' href="{{ url_for('static', filename='css/img/favicon-32x32.png') }}" type='image/x-icon'/ >

</head>

<body>

  <div class="header">
    <div id="logonshit">
      <div class="nav">
          <ul id = "navbar">
            <li><a href="/">Home</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
            <li><a href="MeetTheTeam">Meet The Team</a></li>

      </ul>
        </div>
          </div>
          <img src = "{{ url_for('static', filename='css/img/WurkBan11.jpg') }}"></img>
      </div>
      <h2>Work less with Wurk</h2>
  <div id="box">
  <div id="data">
    <p>Your availability has been updated</p>
    <form action="/{{lastpage}}">
      <input type="submit" value="Go Back">
      <br></br>
  </form>
  </div>
  </div>
</body>
</html>
