<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Wurk</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <div class="header">
    <div id="logonshit">
      <div class="nav">
          <ul id = "navbar">
            <li><a href="/">Home</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
            <li><a href="MeetTheTeam">Meet The Team</a></li>
            <li><a href="BodyOfWork">Body Of Work</a></li>
      </ul>
        </div>
          </div>
          <img src = "{{ url_for('static', filename='css/img/WurkBan11.jpg') }}"></img>
      </div>
      <h2>Work less with Wurk</h2>
  <div class="box">
    <p>{{error}}</p>
    <form action="/{{lastpage}}"><input type="submit" value="Go Back"></form>
  </div>
</body>
</html>
