<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Da Testah</title>
</head>

<body>
  <div class="header">
    <div id="header-text">
      <h1>Welcome to the very shitty Werk Site</h1>
      <h2>I promise it will look better when i get my money</h2>
    </div>
  </div>
  <div id="login">
    <p>Login to your account</p>
  <form action="/user" method = "POST">
  <label for="uname">User Name:</label>
  <input type="text" id="uname" name="uname"><br><br>
  <label for="pass">Password:</label>
  <input type="text" id="pass" name="pass"><br><br>
  <input type="submit" value="Submit">
</form>
  </div>
</body>
</html>
