<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Wurk</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <div class="header">
    <div id="logonshit">
      <div class="nav">
        <ul id = "navbar">
          <li><a href="/">Home</a></li>
          <li><a href="ContactUs">Contact Us</a></li>
          <li><a href="MeetTheTeam">Meet The Team</a></li>
          <li><a href="BodyOfWork">Body Of Work</a></li>
        </ul>
      </div>
    </div>
    <img src = "{{ url_for('static', filename='css/img/WurkBan11.jpg') }}"></img>
</div>
<h2>Work less with Wurk</h2>

  <div class="boxMTT">
    <h4>We are Wurk</h4>
    <div class="guy">
      <h2><img src="{{ url_for('static', filename='css/img/xantheman.jpg') }}" height = "200" width="200">
        Xander Kazanowski
        <h3>Founder and CEO</h3></h2>
      </div>
      <div class="guy">
        <h2><img src="{{ url_for('static', filename='css/img/kyle.jpg') }}" height = "200" width="200">
          Kyle Powroznyk
          <h3>Chief Strategy Officer</h3></h2>
    </div>
    <div class="guy">
      <h2><img src="{{ url_for('static', filename='css/img/miss.jpg') }}" height = "200" width="200">
        Jake Meyer
        <h3>Chief Financial Officer and Operations Manager</h3></h2>
    </div>
    <div class="guy">
      <h2><img src="{{ url_for('static', filename='css/img/hunt.jpg') }}" height = "200" width="200">
        Hunter Spitzer
        <h3>Chief Marketing Officer</h3></h2>
    </div>
        <div class="guy">
          <h2><img src="{{ url_for('static', filename='css/img/me.png') }}" height = "200" width="200">
          Angelo Nelson
            <h3>Chief Technology Officer</h3>
            <p>Hello! I am Angelo Nelson, I programmed this site!</p></h2>
      </div>
    <div class="guy">
      <h2><img src="{{ url_for('static', filename='css/img/someguy.jpg') }}" height = "200" width="200">
        Jack Steen
        <h3>Sales Manager</h3></h2>
  </div>
  <div class="guy">
    <h2><img src="{{ url_for('static', filename='css/img/notsure.jpg') }}" height = "200" width="200">
      Matt Benjamin
      <h3>Legal Consultant</h3></h2>
</div>
<div class="guy">
  <h2><img src="{{ url_for('static', filename='css/img/miss.jpg') }}" height = "200" width="200">
    Max Pulta
    <h3>Executive Project Manager</h3></h2>
</div>
<div class="guy">
  <h2><img src="{{ url_for('static', filename='css/img/looksfresh.jpg') }}" height = "200" width="200">
    Per Erik Gierlach
    <h3>Executive Project Manager</h3></h2>
</div>
<div class="guy">
  <h2><img src="{{ url_for('static', filename='css/img/stilldontknowwhothisis.jpg') }}" height = "200" width="200">
    Ian Dalton
    <h3>Executive Project Manager</h3></h2>
</div>
    </div>
  </body>
  </html>
