<!doctype html>
<html>
<head>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
  $(function(){
      var $select = $(".1-31");
      for (i=1;i<=31;i++){
          $select.append($('<option></option>').val(i).html(i))
      }
  });
  </script>
<meta charset="utf-8">
<title>Wurk</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <div class="header">
    <div id="logonshit">
      <img src="{{ url_for('static', filename='css/img/Wurk2.png') }}" style="width:100px;height:90px;align:right;"</img>
      <div class="nav">
          <ul id = "navbar">
            <li><a href="/">Home</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
            <li><a href="MeetTheTeam">Meet The Team</a></li>
            <li><a href="BodyOfWork">Body Of Work</a></li>
      </ul>
        </div>
          </div>
      <h1>Wurk</h1>
      <h2>Work less with Wurk</h2>

  </div>
  <div class="box">
  <div id="data">
    <p>Please enter your Teacher ID and availability information one day at a time</p>
    <form action="/created" method = 'post'>
      <input type="text" id="tid" name="tid" placeholder="Teacher ID"></input><br></br>
      <label>Month: </label>
      <select id="month" name = "month">
     <option value="January">January</option>
     <option value="Febuary">Febuary</option>
     <option value="March">March</option>
     <option value="April">April</option>
     <option value="May">May</option>
     <option value="June">June</option>
     <option value="July">July</option>
     <option value="August">August</option>
     <option value="September">September</option>
     <option value="October">October</option>
     <option value="November">November</option>
     <option value="December">December</option>
     </select><br></br>
     <label>Day: </label>
      <select name = "day" class= "1-31"></select><br></br>
      <label>Start Time: </label>
     <select id="st" name = "st">
     <option value="24">12:00 AM</option>
     <option value="1">1:00 AM</option>
     <option value="2">2:00 AM</option>
     <option value="3">3:00 AM</option>
     <option value="4">4:00 AM</option>
     <option value="5">5:00 AM</option>
     <option value="6">6:00 AM</option>
     <option value="7">7:00 AM</option>
     <option value="8">8:00 AM</option>
     <option value="9">9:00 AM</option>
     <option value="10">10:00 AM</option>
     <option value="11">11:00 AM</option>
     <option value="12">12:00 PM</option>
     <option value="13">1:00 PM</option>
     <option value="14">2:00 PM</option>
     <option value="15">3:00 PM</option>
     <option value="16">4:00 PM</option>
     <option value="17">5:00 PM</option>
     <option value="18">6:00 PM</option>
     <option value="19">7:00 PM</option>
     <option value="20">8:00 PM</option>
     <option value="21">9:00 PM</option>
     <option value="22">10:00 PM</option>
     <option value="23">11:00 PM</option>
     </select>
     <br></br>
     <label>End Time: </label>
     <select id="et" name = "et">
       <option value="24">12:00 AM</option>
       <option value="1">1:00 AM</option>
       <option value="2">2:00 AM</option>
       <option value="3">3:00 AM</option>
       <option value="4">4:00 AM</option>
       <option value="5">5:00 AM</option>
       <option value="6">6:00 AM</option>
       <option value="7">7:00 AM</option>
       <option value="8">8:00 AM</option>
       <option value="9">9:00 AM</option>
       <option value="10">10:00 AM</option>
       <option value="11">11:00 AM</option>
       <option value="12">12:00 PM</option>
       <option value="13">1:00 PM</option>
       <option value="14">2:00 PM</option>
       <option value="15">3:00 PM</option>
       <option value="16">4:00 PM</option>
       <option value="17">5:00 PM</option>
       <option value="18">6:00 PM</option>
       <option value="19">7:00 PM</option>
       <option value="20">8:00 PM</option>
       <option value="21">9:00 PM</option>
       <option value="22">10:00 PM</option>
       <option value="23">11:00 PM</option>
     </select><br></br>
      <input type="submit" value="Confirm">

  </form>
  </div>
  </div>
</body>
</html>
