<!doctype html>
<html>
<head>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $(".sec1").hide();
    $(".sec2").hide();
    $(".sec3").hide();
    $(".createAccountBox").hide();
    $(".dostuff").click(function(){
      $(".box").fadeOut(1000).delay(200).queue(function(next) {$(".createAccountBox").fadeIn(1000).delay(200);
    });
    $(".sec1").fadeIn();
    });
    $(".btn1").click(function(){
      $(".sec1").fadeOut(1000).delay(200).queue(function(next) {$(".sec2").fadeIn(1000).delay(200);
    });

    });
    $(".btn2").click(function(){
      $(".sec2").fadeOut(1000).delay(200).queue(function(next) {$(".sec3").fadeIn(1000).delay(200);
    });
    });
  });
  </script>
  <script>
  $(function(){
      var $select = $(".1-31");
      for (i=1;i<=31;i++){
          $select.append($('<option></option>').val(i).html(i))
      }
  });
  </script>
<meta charset="utf-8">
<title>Wurk</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <div class="header">
    <div id="logonshit">
      <div class="nav">
          <ul id = "navbar">
            <li><a href="/">Home</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
            <li><a href="MeetTheTeam">Meet The Team</a></li>
            <li><a href="BodyOfWork">Body Of Work</a></li>
      </ul>
        </div>
          </div>
          <img src = "{{ url_for('static', filename='css/img/WurkBan11.jpg') }}"></img>
      </div>
      <h2>Work less with Wurk</h2>
    <div class="box">
      <div class = "textinbox">
    <p>Welcome {{uname}}, schedule your booking below!</p>
    <button class = "dostuff">Create Booking</button><br></br>
    <form action="/meeting" method="POST">
      <p>Or if you have a booking and would like to check it, enter your booking ID below</p>
      <input type="text" id="MID" name="MID">
      <input type="submit" value="Search"></form>
</div>

  </div>
  <div class="createAccountBox">
    <form action="/createbooking" method="POST">
      <div class = "sec1">
        <p>Welcome to the Wurk booking creation tool, please enter the name for the booking</p>
        <input type="text" id="name" name="name" placeholder="">
        <button type = "button" class = "btn1">Next</button>
      </div>
      <div class = "sec2">
        <p>Good! Now select the service you are booking for</p>
        <label>Service: </label>
        <select id="TOB" name = "TOB">
       <option value="Acedemic Tutoring">Acedemic Tutoring</option>
       <option value="Landscaping">Landscaping</option>
       <option value="Music Lessons">Music Lessons</option>
       <option value="ACT and SAT Prep">ACT and SAT Prep</option>
       <option value="Sports Coaching">Sports Coaching</option>
       <option value="Junk Removal">Junk Removal</option>
       <option value="Pet Care">Pet Care</option>
       <option value="House Sitting">House Sitting</option>
       <option value="Construction">Construction</option>
       <option value="Powerwashing">Powerwashing</option>
       <option value="Painting/Staining">Painting/Staining</option>
       <option value="Deck and Roof Restoration">Deck and Roof Restoration</option></select>
       <button type = "button" class = "btn2">Next</button>
      </div>
      <div class = "sec3">
        <p>Nice! Now select a month and day for your booking</p>
        <label>Month: </label>
        <select id="month" name = "month">
        <option value="January">January</option>
        <option value="Febuary">Febuary</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
       </select><br></br>
       <label>Day: </label>
        <select name = "day" class= "1-31"></select><br></br>
         <input type = "submit" value="Next"></input>
      </div>
    </form>
</body>
</html>
